# Ignorar node_modules (carpeta pesada con dependencias)
node_modules/

# Ignorar archivos de logs
*.log

# Ignorar archivos de build o compilados
build/
dist/

# Ignorar archivos temporales de sistema o editores
.DS_Store
Thumbs.db
*.swp
.vscode/

# Opcional: Ignorar archivos de entorno local
.env
.venv
venv/
env/
